.maincontainer {
  display: flex;
  justify-content: center;
}
.firstcontainer {
  background-color: white;
  width: 70%;
  height: 80vh;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  margin: 3%;
  display: flex;
  justify-content: end;
  padding: 30px 0px 30px 0px;
}
.secondcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputcontainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.or {
  /* border: 0.91px inherit #c4c4c4; */
  border-color: #c4c4c4;
  height: 2px;
  width: 50%;
  background-color: #c4c4c4;
}
.ortxt {
  font-size: 12px;
  color: #c4c4c4;
  font-weight: 200;
}
.mainor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
